body{
 background:#0f172a;
 color:white;
 font-family:Arial;
 margin:40px;
}

input,button{
 padding:10px;
 margin:5px;
}

.tradebox{
 margin:20px 0;
}

.topbar{
 font-size:20px;
 margin-bottom:20px;
}
